<!DOCTYPE html>
<html lang="en" class="w-100 h-100">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body class="w-100 h-100">
	<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
		<h3 class="title">Login</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
		<div class="box">
			<form method="POST" action="/login">
				<div class="field">
					<div class="control">
						<input class="input is-large" type="username" name="username" placeholder="User Name" autofocus="">
					</div>
				</div>

				<div class="field">
					<div class="control">
						<input class="input is-large" type="password" name="password" placeholder="Your Password">
					</div>
				</div>
				<button class="btn btn-primary is-block is-info is-large is-fullwidth">Login</button>
			</form>
		</div>
	</div>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>