{% extends "base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name of the Product</th>
        <th>Category</th>
        <th>Current Stock</th>
        <th>Brand</th>
        <th>Dimensions</th>
        <th>Rating</th>
        <th>Reviews</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.rating }}</td>
        <td>{{ product.dimensions }}</td>
        <td>{{ product.reviews }}</td>
        <!--        <td><button value="{{ product.id }}" class="btn btn-primary" onclick="handleBuyNow(this)">Buy Now</button></td>-->
        <td><a class="btn btn-primary" href="{{ url_for('main.buy_now', product_id=product.id) }}">Buy Now</a></td>
        <td>
            <button id="{{ product.id }}" value="{{ product.name }}" class="btn btn-primary" onclick="handleAddToCart(this)">Add to Cart
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th colspan="9">
            <div id="toast" class="float-right toast fade d-none" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-body"></div>
            </div>
        </th>
    </tr>
    </tfoot>
</table>
<a href="/">Return</a>
<a href="{{ url_for('main.cart') }}">View Cart</a>
<script>
    function handleAddToCart(e){
    document.getElementById('toast').classList.add('show')
    document.getElementById('toast').classList.remove('d-none')
    document.getElementById('toast').innerHTML = e.value + " added to the cart"
    setTimeout(function(){document.getElementById('toast').classList.add('d-none')}, 1500)
    url = "/add_to_cart/"+e.id
    fetch(url,{method:'GET'})
    }
</script>
{% endblock %}
